<table>
  <tbody>
  <tr>
    <th>ID заявки</th>
    <th>Наименование продукта/услуги</th>
    <th>Количество продукта/услуги</th>
    <th>Стоимость, предложенная закупщиком</th>
    <th>ID закупщика</th>
    <th></th>
  </tr>
  <tr *ngFor="let purchaseRequest of purchaseRequests, let i = index" (click)="setActivePurchaseRequest(i)">
    <td>{{purchaseRequest.id}}</td>
    <td>{{purchaseRequest.productName}}</td>
    <td>{{purchaseRequest.productCount}}</td>
    <td>{{purchaseRequest.cost}}</td>
    <td>{{purchaseRequest.buyerId}}</td>
    <td>
      <button class="buttonResponse" (click)="goToCreatePurchaseResponse(i)">Откликнуться</button>
    </td>
  </tr>
  </tbody>
</table>
<button class="home" (click)="goToHome()">Домой</button>
