<div class="nonAutorize" *ngIf="!isAuthorize()">
  <button class="register" (click)="goToRegister()">Регистрация</button>
  <button class="login" (click)="goToLogin()">Войти</button>
  <button class="buyer" (click)="goToBuyer()">Закупщикам</button>
  <button class="supplier" (click)="goToSupplier()">Поставщикам</button>
</div>
<div class="autorize" *ngIf="isAuthorize()">
  <button class="buyer" (click)="goToBuyer()">Закупщикам</button>
  <button class="supplier" (click)="goToSupplier()">Поставщикам</button>
  <button class="login" (click)="goToPersonalAccount()">Личный кабинет</button>
  <button class="login" (click)="goToLogout()">Выйти</button>
</div>


